.plan-box div:last-child{
    font-size: 15px;
    line-height: 23px;
}
 
.mo_query{
	width: 100%; 
	border: 1px solid #868383 ;
	border-radius:4px;
	resize: vertical;
}

.mo_text_box{
	border: 1px solid #868383 ;
}

.mo_feature_comparision{
	font-size: 28px;
	line-height: 1.1;
	text-align: center;
	font-family:Raleway;
	font-weight:600;
	font-style:normal; 
}

.mo_pricing_wrapper{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 10px;
	padding: 0px 50px;
}
.mo_pricing_table{
   box-shadow: 0px 0px 18px #ccc;
   background-color: #fff;	
   padding: 30px 0px;
   border-radius: 5px;
   position: relative;
}
.mo_pricing_table .mo_pricing_table_head {
	border-bottom:1px solid #eee;
	transition: all 0.5s ease;
}
.mo__pricing_table:hover .mo_pricing_table_head{
   border-bottom:1px solid #0da577;
   
}
.mo_pricing_table .mo_pricing_table_head .mo_pricing_table_title{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
}
.mo_pricing_table .mo_pricing_table_content .mo_pricing_table_price{
	background-color: #001b4c;
	width: 90px;
	height: 90px;
	margin: auto;
	line-height: 90px;
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0px 0px 10px #ccc;
	margin-top: -50px;
	 transition: all 0.5s ease;
}
.mo_pricing_table:hover .mo_pricing_table_content .mo_pricing_table_price{
	transform: scale(1.2);
}
.mo_pricing_table .mo_pricing_table_content .mo_pricing_table_price h1{
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}
.mo_pricing_table .mo_pricing_table_content ul{
	padding: 15px;
   	list-style-type: none;
}
.mo_pricing_table .mo_pricing_table_content ul li{
	margin: 20px 0px;
	font-size: 14px;
	color:#555;
}
.mo_pricing_table .mo_pricing_table_content .mo_sign-up{
	background-color: #001b4c;
	border-radius: 40px;
	font-weight: 500;
	position: relative;
	display: inline-block;
	color: white;
}
.mo_pricing_table .btn {
  padding: 14px 40px;
  background-color: #001b4c;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3 linear;
  transition: all 0.3 linear;
  border: none;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
  margin: 2px;
  z-index: 9999;
  text-decoration: none;
  border-radius:50px;
}
.mo_pricing_table .btn:hover{
  box-shadow: 0px 0px 15px #0078d4;
}
.mo_pricing_table .btn.bordered {
  z-index: 50;
  background-color: #001b4c;
  color:white;
}
.mo_pricing_table:hover .btn.bordered{
  color: #fff ;
  background-color: #0078d4;
}
.mo_pricing_table .btn.bordered:after {
  background: #fff none repeat scroll 0 0;
  border-radius: 50px;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3 linear;
  transition: all 0.3 linear;
  width: 100%;
  z-index: -1;  
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  transform:scale(1);
}
.mo_pricing_table:hover .btn.bordered:after{
  opacity:0;
  transform:scale(0);
}
@media screen and (max-width:768px){
   .mo_pricing_wrapper{
		grid-template-columns: repeat(2,1fr);
	}
}
@media screen and (max-width:600px){
   .mo_pricing_wrapper{
		grid-template-columns: 1fr;
	}
}

.mo_sync-tab{
	border-bottom: 1px solid #001b4c;
	color:white;
	cursor: pointer;
}
.mo_sync-row{
	border: 1px solid #001b4c;
	box-sizing: border-box;
	background:#001b4c;
	
}
.mo_sync-tab:hover{
	background:white;
	color:black;
	cursor: pointer;
}
.mo_sync-tab-active{
	background:white;
	color:black
}
.mo_detail_tag_styles{
	padding:5px;border:none;
    background-color: white;
	border:1px solid #00000047 ; 
    margin:4%;
}
.mo_summary_tag_styles{
	color:#000000;
    background-color:#fff;
    padding:5px; font-size:16px;
    font-weight:bold;
}
.mo_white_background{
	background-color: #fff;
}
.mo_blue_background{
	background-color: #eef3f9;;
}
.mo_title_buttons,.mo_title_buttons:hover{
	background:#fff !important;
	color: black !important;
}
.mo_blue_buttons, .mo_blue_buttons:disabled{
    background-color: #001b4c !important;
    border: none;
    font-size: 1.1rem;
    padding: 0.3rem 1.5rem;
    color: #fff !important;
    cursor: pointer;
}
.mo_red_buttons{
    background-color: #ff0000 !important;
    border: none;
    font-size: 1.1rem;
    padding: 0.3rem 1.5rem;
    color: #fff !important;
    cursor: pointer;
}
.mo-ms-tab-content-app-config-table{
	margin-top: 20px;
		width: 100%;
	border-collapse : collapse;
}
.mo-ms-tab-content-app-config-table td{
	padding-bottom: 5px;
}
.mo-ms-tab-content-app-config-table input[type=text], input[type=url], input[type=email], input[type=number], input[type=password]{
	border-color: #8a8886;
	height: 24px;
	padding: 3px 8px 5px;
	width: 100%;
}

input[type="checkbox"].mo_sync_switch {
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.5em;
    background: #d8edf5;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].mo_sync_switch:after {
    content: "";
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #000000;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    transform: scale(.7);
    left: 0;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].mo_sync_switch:checked:after {
    left: calc(100% - 1.5em);
    background: #fff;
}

input[type="checkbox"].mo_sync_switch[disabled],
input[type="checkbox"].mo_sync_switch[disabled]:checked {
    background: #e0e0e0 !important;
    cursor: not-allowed;
}

input[type="checkbox"].mo_sync_switch[disabled]:after,
input[type="checkbox"].mo_sync_switch[disabled]:checked:after {
    background: #9e9e9e !important;
    left: 0 !important;
    opacity: 0.6;
}

input[disabled]{
    background-color: #ffffff !important;
    cursor: not-allowed;
}

.mo_config_table{
    border-collapse:collapse;
    width:100%;
}
.mo_config_table thead{
    background-color:#daddff;
    border-collapse:collapse;
}
.mo_config_table tr:hover{
    background-color:#daddff;
}
.mo_config_table th{
    padding-top:12px;
    padding-bottom:12px;
    text-align:left;
    color:#000;
}
.mo_config_table th h3{
    margin:10px 0;
}
.mo_sync_heading{
    font-size:22px;
}
.mo_sync_heading::after{
    height:4px;
    display:block;
    background-color:#001b4c;
    content:" ";
    width:400px;
    margin-top:11px;
}

.mo-user-sync-tab-content {
    margin-left: 15px;
    margin-right: 15px;
}

.logo-user-sync-cstm {
    padding: 1em 0;
    border-radius: 15px;
    background: #fff;
    width: 30.00%;
    margin-top: 1rem;
    height: 150px;
    box-shadow: inset 2px 2px 2px 0 rgb(255 255 255 / 50%), 7px 7px 20px 0 rgb(0 0 0 / 10%), 4px 4px 5px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    text-align: center;
	margin-left:20px;
}

.mo_usersync_outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #eee;
    padding: 10px;
}

.mo_usersync_alert-box {
    width: 90%;
    color: #fff;
    background-color: #ff6e6e;
    padding: 2%;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #b71c1c;
    font-size: 18pt;
}

.mo_usersync_success-box{
    width:90%;
    color: #3c763d;
    background-color: #dff0d8;
    padding: 2%;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #AEDB9A;
    font-size: 18pt;
}
  

.logo-user-sync-cstm h6 {
    font-size: 1rem;
    word-break: break-all;
}

.logo-user-sync-cstm a {
    text-decoration: none;
    color: black;
}

.logo-user-sync-cstm:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.mo_usersync_parent {
    border: none;
    text-align: left;
}

.mo_usersync_child {
    display: inline-block;
    border: none;
    vertical-align: left;
}

.crown_img_small {
    width: 20px;
    margin-right:10px;
}

.mo_usersync_app_cards{
    background-color:#ffffff;
    border-radius:5px;
}

.mo_usersync_text_decoration{
    text-decoration:none;
}

.mo_usersync_color_red{
    color: red;
}

.mo_usersync_title{
    background:#001b4c;
    border-bottom:2px solid white;
    color: #ffffff;
}

.mo_usersync_titles{
    color: #000;
}

.mo_usersync_provider_name{
    color: #001b4c;
    font-weight: 500;
}

.mo_usersync_font_weight{
    font-weight:600;
}

.mo_usersync_text_color{
    color:#ffffff;
}

.mo_usersync_attributes{
    text-align:center;
    margin:2%;
}

.mo-form-control {
	width: 100%;
	height: calc(2.4rem)!important;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000000;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mo-form-control-select {
    height: calc(2.25rem + 2px);
}

.tabcontent{
    border: 1px solid #000;
}

.form-style-6 {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

.form-style-6 h1 {
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.mo_usersync_summary_1{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 10;
}

:root[data-color-scheme=dark] {

    body{
        color: #fff;
    }

    .mo_pricing_table{
       box-shadow: 0px 0px 18px #000;
       background-color: #0f151d;
       border: 1px solid #ffffff;
    }
    
    .mo_pricing_table .mo_pricing_table_content .mo_pricing_table_price{
        background-color: #0f151d;
    }
    
    .mo_pricing_table .mo_pricing_table_content .mo_pricing_table_price h1,
    .mo_pricing_table .mo_pricing_table_content ul,
    .mo_pricing_table .mo_pricing_table_content ul li{
        color:#ffffff;
    }

    .mo_pricing_table .mo_pricing_table_content .mo_sign-up{
        background-color: #0f151d;
    }

    .mo_pricing_table .btn {
      background-color: #001b4c;
    }

    .mo_pricing_table .btn:hover{
      box-shadow: 0px 0px 15px #0f151d;
    }

    .mo_pricing_table .btn.bordered {
      background-color: #0f151d;
      color:white;
    }

    .mo_pricing_table:hover .btn.bordered{
      color: #fff ;
      background-color: #0f151d;
    }

    .mo_pricing_table .btn.bordered:after {
      background: #0f151d none repeat scroll 0 0;
    }

    .mo_pricing_table .mo_pricing_table_head .mo_pricing_table_title{
        color: #ffffff;
    }

    .mo_sync-tab{
        border-bottom: 1px solid #ffffff;
        color:#ffffff ;
    }
    .mo_sync-row{
        border: 1px solid #ffffff;
        background:#0f151d;
        color: #ffffff;
    }
    .mo_sync-tab:hover{
        background: #fff;
        color:#000000;
    }
    .mo_sync-tab-active{
        background:#ffffff;
        color:#000000;
    }
    .mo_detail_tag_styles{
        background-color: #0f151d;
        border:1px solid #ffffff ; 
    }
    .mo_summary_tag_styles{
        color:#ffffff ;
        background-color:#0f151d;
    }
    .mo_white_background, .mo_blue_background{
        background-color: #0f151d;
    }

    .mo_blue_buttons, .mo_blue_buttons:disabled{
        background: #0f151d !important;
        color: #fff !important;
        border: 1px solid #fff;
    }

    .mo_config_table thead{
        background-color:#0f151d;
    }
    .mo_config_table tr:hover{
        background-color:#0f151d;
    }
    .mo_config_table th{
        color:#ffffff;
    }

    .mo_sync_heading::after{
        background-color:#ffffff;
    }
    
    .logo-user-sync-cstm {
        background: #0f151d;
        box-shadow: inset 2px 2px 2px 0 rgba(94, 93, 93, 0.5), 7px 7px 20px 0 rgba(94, 93, 93, 0.5), 4px 4px 5px 0 rgba(94, 93, 93, 0.5);
    }
    
    .logo-user-sync-cstm a {
        color: #ffffff;
    
    }
    
    .tabcontent {
        border: 1px solid #ffffff;
    }

    .mo_usersync_app_cards{
        background-color:#0f151d;
    }

    .mo_usersync_color_red{
        color: red;
    }
    
    .mo_usersync_title{
        background:#0f151d;
        border-bottom:2px solid white;
    }
    
    .mo_usersync_titles{
        color: #ffffff;
    }
    
    .mo_usersync_provider_name{
        color: #ffffff;
    }

    .mo-form-control {
        background-color: #0f151d !important;
        color: #FFFFFF !important;
    }

    input[type="checkbox"][disabled]{
        background-color: #0f151d !important;
        border: 1px solid #eee;
    }

    input:disabled,
    textarea:disabled,
    select:disabled
    [disabled]{
        background-color: #0f151d !important;
        cursor: not-allowed;
    }
}